<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Image Processing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.149.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.149.0/examples/jsm/"
          }
        }
      </script>
</head>



<body>

    <script type="module" src="../static/img/js/main.js">
    </script>
    <!-- <canvas id="scene"></canvas> -->

    <!-- <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-1">Menu</h1>
            <div class="container">
                
                <
            </div>
        </div>
        <style>
        </style>
    </div> -->
</body>

</html>